{% extends 'base.html' %}
<head>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

{% block body %}
    <div class="d-flex justify-content-center align-items-center" style="height: 80vh;">
        <div class="text-center">
            <div class="p-3 rounded-5 shadow-sm" style="background-image: url('https://media.istockphoto.com/id/583816756/photo/realistic-background-wallpaper-texture.jpg?s=612x612&w=0&k=20&c=33rY1jt0jYZaleaaiJ-L8ylz_KOrNenQg9fjYDWf4kM=')">
                <h1 class="display-3 text-light font-weight-bold" style="text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5); font-family: 'Poppins', sans-serif;">
                    Inventory Manager
                </h1>
            </div>
        </div>
    </div>
{% endblock %}
