{% extends 'base.html' %}

{% block body %}

    <div class="container mb-5">
        <h1 class="text-light text-opacity-75 mt-4 border-bottom pb-2 border-2 border-secondary rounded-start">Create an account.</h1>
        <div class="row">
            <div class="col letrabranca">
                <form method="POST" action="" class="p-3 border-3 border border-light border-opacity-50 mt-5 rounded bg-secondary bg-opacity-10">
                    {{ form_signup.csrf_token }}
                    <legend class="m-3">Signup</legend>
                    <fieldset class="mt-5">
                        <div class="form-group mb-2 m-2">
                            {{ form_signup.username.label(class="form-label") }}
                            {% if form_signup.username.errors %}
                               {{ form_signup.username(class="form-control is-invalid", placeholder="user123") }}
                            <div class="invalid-feedback">
                                {% for erro in form_signup.username.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_signup.username(class="form-control", placeholder="user123") }}
                            {% endif %} 
                        </div>
                        <div class="form-group mb-2 m-2">
                            {{ form_signup.email.label(class="form-label") }}
                            {% if form_signup.email.errors %}
                               {{ form_signup.email(class="form-control is-invalid", placeholder="your@email.com") }}
                            <div class="invalid-feedback">
                                {% for erro in form_signup.email.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_signup.email(class="form-control", placeholder="your@email.com") }}
                            {% endif %} 
                        </div>
                        <div class="form-group mb-2 m-2">
                            {{ form_signup.password.label(class="form-label") }}
                            {% if form_signup.password.errors %}
                               {{ form_signup.password(class="form-control is-invalid", placeholder="a12345!") }}
                            <div class="invalid-feedback">
                                {% for erro in form_signup.password.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_signup.password(class="form-control", placeholder="a12345!") }}
                            {% endif %} 
                        </div>
                        <div class="form-group mb-2 m-2">
                            {{ form_signup.password_confirmation.label(class="form-label") }}
                            {% if form_signup.password_confirmation.errors %}
                               {{ form_signup.password_confirmation(class="form-control is-invalid", placeholder="a12345!") }}
                            <div class="invalid-feedback">
                                {% for erro in form_signup.password_confirmation.errors %}
                                    {{ erro }}
                                {% endfor %}
                            </div>
                            {% else %}
                                {{ form_signup.password_confirmation(class="form-control", placeholder="a12345!") }}
                            {% endif %} 
                        </div>
                        </fieldset>
                    {{ form_signup.submit_button_signup(class="btn btn-secondary m-2") }}
                </form>
            </div>
        </div>

{% endblock %}